---
import Container from "@components/container.astro";
import Cta from "@components/cta.astro";
import Features from "@components/features.astro";
import Hero from "@components/hero.astro";
import Layout from "@layouts/Layout.astro";
import Contactform from "@components/contactform.astro";
import { Icon } from "astro-icon";
---

<Layout title="">
  <Container>
    <Hero />
    <Features />
    <Cta />
    <section id="contact-us">
    <div class="flex flex-col gap-3 mx-auto max-w-4xl mt-16">
      <h2 class="font-bold text-3xl text-gray-800">
        Contact Us 
      </h2>
    </div>
    <div class="grid md:grid-cols-2 gap-10 mx-auto max-w-4xl mt-16">
      <div>
        <p class="text-lg leading-relaxed text-slate-500 mt-3">
          Questions? We're happy to talk. You can reach us at:
        </p>
        <div class="mt-5">
          <div class="flex items-center mt-2 space-x-2 text-gray-600">
            <Icon class="text-gray-400 w-4 h-4" name="uil:envelope" />
            <a href="mailto info@transparentai.tech">info@transparentai.tech</a>
          </div>
        </div>
      </div>
        <div>
          <Contactform />
        </div>
    </div>
    </section>
  </Container>
</Layout>
