---
import Container from "@components/container.astro";
import Cta from "@components/cta.astro";
import Features from "@components/features.astro";
import Hero from "@components/hero.astro";
import Layout from "@layouts/Layout.astro";
import Contactform from "@components/contactform.astro";
import { Icon } from "astro-icon";
---

<Layout title="">
  <Container>
    <Hero />
    <Features />
    <Cta />
    <section id="contact-us">
    <div class="flex flex-col gap-3 mx-auto max-w-4xl mt-16">
      <h2 class="font-bold text-3xl text-gray-800">
        Contact Us 
      </h2>
    </div>
    <div class="grid md:grid-cols-2 gap-10 mx-auto max-w-4xl mt-16">
      <div>
        <p class="text-lg leading-relaxed text-slate-500 mt-3">
          Questions? We're happy to talk. Sign up for the waitlist, and we'll stay in touch. 
        </p>
      </div>
        <div>
          <Contactform />
        </div>
    </div>
    </section>
  </Container>
</Layout>
