---
import Button from "@components/ui/button.astro";
---

<section class="flex flex-col gap-3 mt-12 justify-center">
  <h2 class="font-bold text-3xl text-gray-800 text-center">See For Yourself</h2>
  <p class="text-center">Try our software free for 14 days</p>
  <small class="text-center">Demo currently only supports CSV files composed of boolean (0,1) values</small>
  <small class="text-center">Windows version currently must run in administrator mode</small>
  <a class="w-20" href="InsightAI_0.0.1_aarch64.dmg" download class="flex justify-center"><Button>Apple ARM Demo Installer</Button></a>
  <a href="InsightAI_0.0.1_x64.dmg" download class="flex justify-center"><Button>Apple x64 Demo Installer</Button></a>
  <a href="InsightAI_0.0.1_x64_en-US.msi" download class="flex justify-center"><Button>Windows Demo Installer</Button></a>
</section>
