---
// @ts-ignore
import { Icon } from "astro-icon";

const features = [
  {
    title: "AIs that show their work",
    description:
      "Our AIs don't just spit out an answer, they tell you the exact logic they used to arrive at their conclusions",
    icon: "bx:bxs-binoculars",
  },
  {
    title: "Human-Readable Models",
    description:
      "Our AI models are composed of simple logic statements, making them easy for humans to understand their reasoning",
    icon: "bx:bxs-book-reader",
  },
  {
    title: "Easy modification",
    description:
      "Don't like your model's responses? Change it! Get granular insights into the behavior of your models, and modify it without retraining",
    icon: "bx:bxs-wrench",
  },
];
---


<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
